#container{
  padding : 10px;
  border : 10px;
}
.tabla-arp{
  padding : 20px;
  border : 20px;
  width: 800px;
  max-height: 800px;
  max-width: 800px:
}
#joc_tabla{
  padding : 10px;
  border : 10px;
  max-height: 800px;
}
#tabla_mcast{
  padding : 20px;
  border : 20px;
  max-height: 800px;
  max-width: 500px:
}
body{
  background-color: #ECECEC;
}
.title2{
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #EAEDED;
  text-decoration-color: #EAEDED;
  font-size: 40px;
  text-decoration-style: solid;
  background-color: #222;
}
.title2:hover{
  text-decoration: underline;
}
.title2 .h2:hover{
  position: relative;
  left: 20px;
}
.joc1 {
  //padding : 10px;
  border : 6px solid #ECECEC;
  text-align: left;
  max-width: 2200px;
  background-color: #FFF;
  border-color: #ECECEC;
  border-left:5px solid #ECECEC;
}
.joc1 .row .col-sm-8,
.joc1 .row .col-sm-9,
.joc1 .row .col-sm-3,
.joc1 .row .col-sm-6,
.joc1 .row .col-sm-4 {
  padding : 10px;
  border : 10px solid #ECECEC;
  background-color: #FFF;
  border-color: #ECECEC;
}
.joc1 .row .col-sm-4 {
  padding-bottom : 24px;
}
.joc2 {
  padding : 20px;
  margin: 10px;
  text-align: left;
  background-color: #FFF;
  box-shadow: 6px 6px 6px 3px rgba(0, 0, 2, 0.3);
}
.joc22 {
  margin: 10px;
  padding : 20px;
  text-align: left;
  background-color: #FFF;
  box-shadow: 6px 6px 6px 3px rgba(0, 0, 2, 0.3);
}
.joc3 {
  margin: 10px;
  padding : 20px;
  text-align: left;
  width: 50%;
  background-color: #FFF;
  box-shadow: 6px 6px 6px 3px rgba(0, 0, 2, 0.3);
}
.joc4 {
  padding : 5px;
  border : 6px solid #ECECEC;
  text-align: left;
  max-width: 1200px;
  background-color: #FFF;
  border-color: #ECECEC;
  border-left:5px solid #ECECEC;
}
/* Main Dashboard */
h2{
  font-style: italic
  font-size: 20px;
}
.main_dash {
  padding-top : 2px;
  padding-bottom : 2px;
  padding-right : 1px;
  padding-left : 1px;
  font-size: 64px;
  top: 50%;
  border : 6px solid #ECECEC;
  text-align: center;
  max-width: 1600px;
  color: black;
  /* background-color: #FF0000; */
  border-color: #943126;
  margin: auto;
}
.main_dash .row .col-sm-2,
.main_dash .row .col-sm-9,
.main_dash .row .col-sm-3,
.main_dash .row .col-sm-6,
.main_dash .row .col-sm-4 {
  padding-top : 2px;
  padding-bottom : 2px;
  padding-right : 1px;
  padding-left : 1px;
  border : 4px solid #ECECEC;
  background-color: #808B96;
  border-color: #ECECEC;
  color: black;
  opacity: 0.5;
  object-fit: cover;
  background-image: url("../../static/images/narbik1.jpg");
  height: 430px;
  max-width: 800px;
  position: relative;
}
.main_dash .row #nexus {
  padding-top : 2px;
  padding-bottom : 2px;
  padding-right : 1px;
  padding-left : 5px;
  border : 4px solid #ECECEC;
  background-color: #808B96;
  border-color: #ECECEC;
  color: black;
  opacity: 0.5;
  object-fit: fill;
  background-image: url("../../static/images/data1.jpg");
  height: 430px;
  max-width:800px;
  position: relative;
}
.main_dash .row .col-sm-6:hover{
  opacity: 1.0;
}
.main_dash .row #nexus:hover{
  opacity: 1.0;
}
.main_dash .row #nexus h3{
  margin: 0;
  position: absolute;
  font-size: 84px;
  color: black;
  opacity: 1.0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_dash .row .col-sm-6 h3{
  margin: 0;
  position: absolute;
  font-size: 84px;
  color: black;
  opacity: 1.0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_dash .row .col-sm-6 h3 a{
    color: #F4D03F;
}
.main_dash .row #nexus h3:hover{
  margin: 0;
  position: absolute;
  color: #5D6D7E;
  opacity: 1.0;
  /* background-color: #FFF; */
  font-size: 88px;
  top: 45%;
  transform: translate(-50%, -50%);
}
.main_dash .row .col-sm-6 h3:hover{
  margin: 0;
  position: absolute;
  color: #5D6D7E;
  opacity: 1.0;
  /* background-color: #FFF; */
  font-size: 88px;
  top: 45%;
  transform: translate(-50%, -50%);
}
#custom_color{
  color: black;
}
/* navbar */
.navbar-default {
    background-color: #18599A;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: #B5BCC3;
    font-weight: bold;
    font-size: 20px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
    font-weight: bold;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #B5BCC3;
    font-weight: bold;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #185593;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #13406C;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #13406C;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #1A5186;
    border-bottom-color: #1A5186;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #1A5186;
    border-bottom-color: #1A5186;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #1A5186;
    border-bottom-color: #1A5186;
    background-color: #13406C;
}
/* Dropdown */
.navbar-default .navbar-nav > .dropdown > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > .dropdown > .dropdown-menu > li > a:focus  {
    border-top-color: #1A5186;
    border-bottom-color: #1A5186;
}

.btn-padding{
  padding-top: 5px !important;
  margin-top: 8px !important;
}
.espacio{
  width: 30%;
  margin-bottom: 8px !important;
}
.size-img1{
  width: 128px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.size-img2{
  height: 32px;
  border-radius: 50%;
}
.centrar-texto{
  text-align:center;
}

.acolor{
  color: grey;
}
.acolor:hover{
  color: black;
}
.ncolor{
  background-color: white;
  height: 80px;
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pad-top{
  padding-top: 9px;
  color: #A93226;
}
.title-table{
  margin-bottom: 0px;
}

.zero-margin{
  margin: 0 !important;
  padding: 0 !important;
}
