{% extends 'xr/index2.html' %}

{% load static %}

{% block content %}

  <div class="column menu">
      <div class="row">
          <!-- <div class="col-sm-12">  -->
          <div class="container">
            <meta charset="utf-8" />
            <h1>Peering Topology</h1>
            <div class="contenedor">
                <div class="form-group">
                  <form action="/xr/d3_graph/" method="post">
                    {% csrf_token %}
                    {{ form }}
                  </div>
                  <input type="submit" class="btn btn-success" value="Submit">
                </form>

            </div>
            <p>A <a>force-directed</a> layout of a tree using <a>hierarchy.links.</a></p>
            <svg width="720" height="400" class="estilo_caja"></svg>
            <div class="contenedor2">
              <input type="button" class="btn btn-primary" value="Save/Clear" id="saveBtn"/>
              <input type="button" class="btn btn-primary" value="Load" id="loadBtn"/>
              <button class="btn btn-primary" id='saveButton'>Export to PNG</button>
            </div>
            <script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>
            <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
            <script src="https://d3js.org/d3.v6.js"></script>
					</div>
		    </div>
	  </div>


<style type="text/css">
  h1{
    font-family: "Averia Sans Libre";
  }
  h1:hover {
    color: red;
    text-decoration: underline;
  }
.link {
  stroke: #ccc; }

.nodetext {
  pointer-events: none; font: 10px sans-serif; }

.estilo_caja {
  border-left: 2px solid #2E86C1;
  background-color: white;
  padding: 5px;
}

.contenedor {
  width: 200px;
  padding-bottom:  10px;
  /*background-color: white;*/
}

.contenedor2 {
  width: 300px;
  padding-bottom: 5px;
}

.solid{
   stroke:solid;
}

.dashed{
   stroke-dasharray: 5,5;
}
.dashed2{
   stroke-dasharray: 10,10;
}
.link {
      stroke: #000;
      stroke-width: 1.5px;
    }

    .node {
      cursor: move;
      fill: #ccc;
      stroke: #000;
      stroke-width: 1.5px;
    }

    .node.fixed {
      fill: #f00;
    }
</style>

{% endblock %}

{% block js %}

<script>
  var data = {
    nodes: [{  index:0, name: "ASR01",  image: "ncs"},
            {  index:1, name: "ASR02",  image: "taipan"},
             {  index:2, name: "ASR03",  image: "taipan" },
              {  index:3, name: "ASR04",  image: "router" },
               {  index:4, name: "ASR05",  image: "router" }
          ],
    links: [
      { source: 0, target: 1, index:0, color:'orange', type:'solid' },
      { source: 0, target: 2, index:1, color:'#909497', type:'solid' },
      { source: 0, target: 3, index:2, color:'#34495E', type:'dashed' },
	  { source: 0, target: 4, index:3, color:'#34495E', type:'dashed' },
	  { source: 1, target: 2, index:4, color:'#34495E', type:'dashed2' },
      { source: 1, target: 3, index:5, color:'#34495E', type:'dashed2' },
	  { source: 1, target: 4, index:6, color:'#34495E', type:'solid' }
    ]
  };
  //initilize svg or grab svg
  var svg = d3.select("svg").attr("viewBox", [0, 0, 600, 300]);
  var width = svg.attr("width");
  var height = svg.attr("height");

  //var data = {{ data | safe }};

    //add encompassing group for the zoom
    var g = svg.append("g")
        .attr("class", "everything");

  const links = g
    .selectAll("line")
    .data(data.links)
    .join("line")
    .attr("stroke-width", 3)
    .style("stroke", (d) => {return d.color }  )
    .attr('class', (d) => {return d.type });

  var defs = svg.append("svg:defs");


  var figuras = ["cmts","switch","switch1","switch2","switch3","taipan","phone","router","nexus","ncs"];
          for(var i = 0; i< figuras.length ; i++){
            //console.log(`/static/${figuras[i]}.png`)
            defs.append("svg:pattern")
                   .attr("width", 1)
                   .attr("height", 1)
                   //.attr("patternUnits", "userSpaceOnUse")
                   .attr("id", `${figuras[i]}`)
                   .append("svg:image")
                   .attr("xlink:href", `/static/${figuras[i]}.png`)
                   .attr("width", "48px")
                   .attr("height", "48px")
                   .attr("x", 0)
                 .attr("y", 0);
          }


  const nodes = g
    .selectAll("circle")
    .data(data.nodes)
    .join("circle")
    .attr("r", 24)
    .attr('fill', (d) => {
      return `url(#${d.image})`
      } );


  const simulation = d3
            .forceSimulation(data.nodes)
            .force("charge", d3.forceManyBody().strength(-400))
            //.force("charge", d3.forceManyBody())
            .force("center", d3.forceCenter(width / 2, height / 2))
            .force("link", d3.forceLink(data.links).id(d => d.index))
            //.force("collide", d3.forceCollide().radius(d => d.r + 60).iterations(3))
            .on("tick", tick);

  var drag = d3
    .drag()
    .on("start", dragstart)
    .on("drag", dragged);

  nodes.call(drag).on("click", click);

  //add zoom capabilities
  var zoom_handler = d3.zoom()
      .on("zoom", (event) => {
      g.attr('transform', event.transform);
    });

  zoom_handler(svg);

  function click(event, d) {
    delete d.fx;
    delete d.fy;
    //d.fixed = false;
    console.log('u click node')
    d3.select(this).classed("fixed", false);
    simulation.alpha(1).restart();
  }

  //Zoom functions
  function zoom_actions(){
      g.attr("transform", d3.event.transform)
  }

  function tick() {
    links
      .attr("x1", d => d.source.x)
      .attr("y1", d => d.source.y)
      .attr("x2", d => d.target.x)
      .attr("y2", d => d.target.y);
    nodes
      .attr("cx", d => d.x)
      .attr("cy", d => d.y);
  }


  function dragstart(d) {
    //your alpha hit 0 it stops! make it run again
    d3.select(this).classed("fixed", true);

  }

  function dragged(event, d) {
    d.fx = clamp(event.x, 0, width);
    d.fy = clamp(event.y, 0, height);
    simulation.alpha(1).restart();
  }

  function clamp(x, lo, hi) {
  	return x < lo ? lo : x > hi ? hi : x;
  }

</script>

{% endblock %}
