{% extends "xr/index2.html" %}

{% block content %}

<h1>Pagina para submitir valor:</h1>

{% if type_var == "addon" %}
<h3>Page to add/update host:</h3>
<form action="/xr/add_device/" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>
{% endif %}

{% if type_var == "delete" %}
<h3>Page to delete host:</h3>
<form action="/xr/delete_device/" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>
{% endif %}

{% if type_var == "traffic" %}
<h3>Get Traffic from host:</h3>
<form action="/xr/traffic_interface/" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>
{% endif %}

{% if type_var == "arp_data" %}
<h3>Page to get ARP data from host:</h3>
<form action="/xr/arp_info/" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>
{% endif %}

{% if type_var == "join_igmp" %}
<h3>Page to get JOIN IGMP from host:</h3>
<form action="/xr/join_igmp/" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>
{% endif %}

{% if type_var == "xr_mcast" %}
<h3>Page to get Mcast from RAC (ASR9K) devices:</h3>
<form action="/xr/xr_mcast/" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>
{% endif %}

{% endblock %}
