{% extends "xr/index2.html" %}

{% block content %}


{% if type_var == "addon" %}
<div class="container espacio">
  <h3>Page to add/update host:</h3>
  <form action="/xr/add_device/" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="btn btn-info btn-padding" type="submit" value="Submit">
  </form>
</div>
{% endif %}

{% if type_var == "delete" %}
<h3>Page to delete host:</h3>
<form action="/xr/delete_device/" method="post">
  {% csrf_token %}
  {{ form }}
  <input class="btn btn-info btn-padding" type="submit" value="Submit">
</form>
{% endif %}

{% if type_var == "traffic" %}
<div class="container espacio">
  <h3>Get Traffic from host:</h3>
  <form action="/xr/traffic_interface/" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="btn btn-info btn-padding" type="submit" value="Submit">
  </form>
</div>
{% endif %}

{% if type_var == "arp_data" %}
<div class="container espacio">
<h3>ARP data from host:</h3>
<form action="/xr/arp_info/" method="post">
  {% csrf_token %}
  {{ form }}
  <input class="btn btn-info btn-padding" type="submit" value="Submit">
</form>
</div>
{% endif %}

{% if type_var == "join_igmp" %}
<div class="container espacio">
<h3>JOIN IGMP from host:</h3>
<form action="/xr/join_igmp/" method="post">
  {% csrf_token %}
  {{ form }}
  <input class="btn btn-info btn-padding" type="submit" value="Submit">
</form>
</div>
{% endif %}

{% if type_var == "xr_mcast" %}
<div class="container espacio">
<h3>Mcast from RAC (ASR9K) devices:</h3>
<form action="/xr/xr_mcast/" method="post">
  {% csrf_token %}
  {{ form }}
  <input class="btn btn-info btn-padding" type="submit" value="Submit">
</form>
</div>
{% endif %}
<style media="screen">
  .btn-padding{
    padding-top: 5px !important;
    margin-top: 8px !important;
  }
  .espacio{
    width: 30%;
  }
</style>
{% endblock %}
