{% extends "nxos/index.html" %}

{% block content %}
{% load static %}
<div class="container joc2">
<h3 class="title-table"> Collections QoS Table </h3>
<div class="dropdown-divider"></div>
<table id="collectionsTable" cellspacing="0" class="table table-striped table-bordered" style="width:100%" >
<thead>
    <tr bgcolor="#F8C471">
        <th width="5%">Id</th>
        <th>Hostname</th>
        <th>Interface</th>
        <th>Description</th>
        <th>SP IN</th>
        <th>SP OUT</th>
        <th>PM Config</th>
        <th width="20%">Datetime</th>
    </tr>
</thead>
</table>
</div>


{% endblock %}

{% block scripts %}

<script>

  $(document).ready(function() {
    $('#collectionsTable').DataTable( {
      "processing": true,
      "paging": true,
      "ajax": "/xr/get-qos/",
      "order": [[ 0, "desc" ]],
      // add column definitions to map your json to the table
      "columns": [
        {data: "id"},
        {data: "hostname"},
        {data: "interface"},
        {data: "description"},
        {data: "input_sp",
          "render": function(data, type, row, meta){
                if(data === ''){
                  data = data + '<img src="{% static 'failed.png' %}">';
                }
              return data;
            }},
        {data: "output_sp",
          "render": function(data, type, row, meta){
                if(data === ''){
                  data = data + '<img src="{% static 'failed.png' %}">';
                }
              return data;
            }},
        {data: "out_cfg"},
        {data: "datetime"},
      ]
    } );
    });

  </script>

{% endblock %}
